/* Base styles fot the App component*/

.App {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 max-width: 400px;
  background-color:#19191F ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  border-radius: 8px;
}